#history {
    background: #d4d4d4;
    width: 13rem;
    height: 30rem;
    position: fixed;
    transform: rotate(-11deg);
    top: 5rem;
    left: calc(50% - 26rem);
    box-shadow:
        0.5rem 0.5rem 0.5rem 0rem #00000040,
        inset 0 0 3rem 0 #4128006b;
    background-color: #f2f2f2;
    background-image:
        var(--parchment),
        repeating-linear-gradient(transparent,
            transparent calc(var(--interline) - 1px),
            #dfdfdf calc(var(--interline) + 0.13rem - 2px),
            #dfdfdf calc(var(--interline) + 0.13rem));
    background-size: 400%;
    font-family: var(--font-hand);
    padding: 0.8rem 1rem;
    --interline: 1rem;
    font-size: var(--interline);
    cursor: pointer;
    overflow: hidden;
    transition:
        transform 0.35s ease,
        box-shadow 0.35s ease;

    &:hover {
        transform: rotate(-5deg) scale(1.05);
        box-shadow:
            1rem 1rem 1.5rem #00000060,
            inset 0 0 3rem #4128006b;
        z-index: 10;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    h2 {
        margin: 0 0 -0.2rem;
    }

    .dice-entry {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        padding: 0.4rem;
        border-bottom: 1px solid #ccc;

        img {
            width: 3rem;
            aspect-ratio: 1;
            object-fit: cover;
            border-radius: 50%;
            border: 1px solid black;
            box-shadow: 0 0 0.5rem 0 white;
            position: absolute;
            right: 1rem;
        }

        h1 {
            font-weight: bold;
            margin: 0;
            font-size: 1rem;
        }

        div {
            display: flex;
            gap: 0.2rem;
        }

        .dice {
            padding: 0.1rem 0.3rem;
            border-radius: 0.2rem;
            background: #e9ddaf;
            font-weight: bold;

            &.penalite {
                background: #e9b5af;
            }

            &.atout {
                background: #c8e9af;
            }

            &.competence {
                background: #cbafe9;
            }

            &.dice6 {
                background: #afcde9;
            }
        }

        span {
            font-style: italic;
        }

    }
}

body:has(.flipped) #history {
  z-index: 10;
  transform: rotate(-2deg);
  left: calc(50% + 9rem);
  top: 8rem;
  height: 60rem;
}

.GM #history,
body.GM:has(.flipped) #history {
  position: relative;
  transform: rotate(0);
  top: auto;
  left: auto;
  height: 69rem;
  z-index: 0;
}